export PAPI_UTILS_PATH=
export OUT_DIR=
export KERNEL_PATH=
export LORE_ORIG_PATH=${KERNEL_PATH}/orig/
export LORE_PROC_PATH=${KERNEL_PATH}/proc/
export LORE_PROC_CLANG_PATH=${KERNEL_PATH}/unroll/
export MODELS_DIR=